<div class="rebind-footer">
	<div class="container">
		<div class="contact-list">
			<div class="box">
				<a href="tel:9096969220">
					<div class="img"><img src="[IMAGES_PATH]phone-call.png" alt="Rebind Phone" class="img-responsive"></div>
					<div class="content"><b>Phone</b>+91 90969 69220</div>
				</a>
			</div>
			<div class="box">
				<a href="#">
					<div class="img"><img src="[IMAGES_PATH]address.png" alt="Rebind Address" class="img-responsive"></div>
					<div class="content"><b>Address</b>8th Floor, Bhama Center, Hinjawadi - Wakad Rd, near Bhujbal Chowk, Pune, MH-411057</div>
				</a>
			</div>
			<div class="box">
				<a href="mailto:mahadev.kv@rebind.in">
					<div class="img"><img src="[IMAGES_PATH]envelope.png" alt="Rebind Mail" class="img-responsive"></div>
					<div class="content"><b>E-Mail</b>mahadev.kv@rebind.in</div>
				</a>
			</div>
		</div>
		<hr class="footer-divider">
		<div class="copyright-wrap">
			&copy; 2025 <a href="#" target="_blank">Rebind : Winning Trust</a>. All Rights Reserved. | 
			<a href="[LEGAL_PATH]privacy-policy.html">Privacy Policy</a> | 
			<a href="[LEGAL_PATH]terms-and-conditions.html">Terms and Conditions</a> | 
			<a href="[LEGAL_PATH]refund-cancellation-policy.html">Refund/Cancellation Policy</a>
		</div>
	</div>
</div>


